body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
}

h1 {
    color: lightsalmon;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-decoration: none;
    position: absolute;
}

a.link-top {
    top: 2%;
    left: 50%;
}

a.link-bottom {
    bottom: 2%;
    left: 50%;
}

a.link-left {
    top: 50%;
    left: 2%;
}

a.link-right {
    top: 50%;
    right: 2%;
}
p {
    padding: 10px 10px 10px 10px;
}

.full-screen {
    height: auto;
    width: 100%;
}