body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: lightsalmon;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}

p {
    padding: 10px 10px 10px 10px;
}

.full-screen {
    height: auto;
    width: 100%;
}